:root {
	--draw-container-border-width: 2px;
	--add-element-margin: 4px;
	--draw-container-height: 800px;

	--figures-height-delta: calc(100px + var(--draw-container-border-width));
}

body {
	background-color: #c4c4c4;
	padding: 10px;
	height: 100vh;
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

sub {
	vertical-align: sub;
    font-size: smaller;
}

hr {
	width: calc(100% - 30px);
	min-width: 1px;
	max-width: 90%;
}

.off-user-select * {
	user-select: none;
}

.flex-fill {
	display: flex;
    flex-grow: 1;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.wrap-row {
	display: flex;
	flex-flow: row nowrap;
}

tt {
	font-family: "Lucida Console", "Menlo", "Monaco", "Courier New", monospace;
}

table, th, td {
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 2px;
}

th, td {
	padding: 4px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.15em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

b {
	font-weight: bold;
}

code {
    font-family: monospace;
}

.table {
	display: flex; 
	flex-direction: row;
}

.table > * {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
